link(rel="stylesheet" href="/bower_components/components-font-awesome/css/font-awesome.min.css")
script(src="/bower_components/jquery/dist/jquery.min.js")
script(src="/bower_components/ckeditor/ckeditor.js")
script(data-main="/cryptpad/cryptpad/pad.new/new.main" src="/bower_components/requirejs/require.js")
style(type='text/css').
  #cke_1_top {
      overflow: visible;
  }
  #cke_1_toolbox {
      display: inline-block;
      width: 100%;
  }
  #cke_1_top .cryptpad-toolbar {
      margin-bottom: 1px;
      padding: 0px;
  }
textarea(style="display:none" id="editor1" name="editor1")
